:root {
  --jet: #333333;
  --base-body-font-color: var(--jet);
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  color: var(--base-body-font-color);
  font: 1em 'Open Sans', Helvetica, Arial, sans-serif;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

summary {
  outline: none !important;
}

.inputs {
  align-items: center;
}

.hide-completed {
  bottom: -1.5rem;
  font-size: 0.75em;
  padding: 0 0.5rem;
  position: absolute;
  text-align: right;
  width: 100%;
}

.to-top {
  bottom: 2.5rem;
  position: fixed;
  opacity: 0;
  right: 1rem;
  transition: opacity 0.5s ease-in-out;
}

@media screen and (min-width: 36rem) {
  header {
    margin: 2rem 0;
  }
  .inputs {
    align-items: baseline;
  }
  .flex-row {
    flex-direction: row !important;
  }
  .divider {
    visibility: visible !important;
  }
}
